/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  color: #333;
}

/* NAV */
.header {
  background: #0f172a;
  padding: 2rem 3rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #fff;
  font-size: 1.2rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

/* HERO */
.hero {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4rem 2rem;
  background: #f1f5f9;
}


.hero h2 {
  font-size: 2.5rem;
}

.hero p {
  max-width: 600px;
  margin: 1rem 0;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background: #2563eb;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

/* SECTIONS */
.section {
  padding: 4rem 2rem;
  max-width: 1000px;
  margin: auto;
}

.section h3 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  text-align: center;
}

/* CARD GENERIC (animation commune) */
.card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.08);
}


/* PROJECTS */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  justify-items: center;
}

.project-card {
  width: 100%;
  max-width: 320px;
  padding: 1.5rem;
  border: 1px solid #7f8083;
  border-radius: 10px;
}


/* CONTACT CARD */
.contact-card {
  margin: 2rem auto 0;
  max-width: 400px;
  padding: 1.5rem;
  border: 1px solid #7f8083;
  border-radius: 10px;
  text-align: center;
  background: #ffffff;
}

.contact-card p {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.contact-card a {
  color: #2563eb;
  text-decoration: none;
}

.contact-card a:hover {
  text-decoration: underline;
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 1rem;
  background: #0f172a;
  color: #fff;
}

/* RESPONSIVE */
@media (max-width: 600px) {
  .nav-links {
    flex-direction: column;
  }
}
